body{
    background-color: #ffffd6d6;
    color: black ;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center ;
    align-items: center ;
    height: 700px ;
    margin:0px;
}

button{
    background-color: rgb(42, 174, 235);
    color: white;
    font-family: "Montserrat", sans-serif;
}